@use '@styles/abstracts/mixins' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  color: black;
  @include respond-to(small-mobile) {
    width: 7.4rem;
  }
}

.navbar__link {
  color: black;
  &--active {
    text-decoration: underline;
  }
  @include respond-to(mobile) {
    font-size: 1rem
  }
  @include respond-to(small-mobile) {
    font-size: 0.75rem
  }
}