@use '@styles/abstracts/variables' as vars;

.header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  .header__logo {
    height: 4.25rem;
    color: vars.$main-color
  }
}