@use '@styles/abstracts/variables' as *;

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: $main-color;
  gap: 5rem;
  flex-direction: column;
  .not-found__title {
    font-size: 18rem;
    text-align: center;
    line-height: 13rem;
  }
  .not-found__link {
    color: black;
    text-decoration: underline;
  }
}

