.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  color: black;
}

.navbar__link {
  color: black;
  &--active {
    text-decoration: underline;
  }  
}