@use '../abstracts';


$font-primary: 'Montserrat', sans-serif;
$font-color: white;

$base-font-size: 1.125rem; //18px

body {
  font-family: $font-primary;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $font-color;
  h1 {
    font-weight: 700;
  }
  h2, h3, h4, h5 {
    font-weight: 500;
  }
}